<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRA_KCK-T8OcguE4bNiQwDpSl_FqF3bks</string>
	<key>GCM_SENDER_ID</key>
	<string>117356440666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karaz</string>
	<key>PROJECT_ID</key>
	<string>karaz-7e427</string>
	<key>STORAGE_BUCKET</key>
	<string>karaz-7e427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117356440666:ios:f45dd59802cdcc7d1dbc63</string>
</dict>
</plist>